.button-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-set-item:not(:last-child) {
    margin-right: 8px;
}

.type-projects-button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--secondary-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button-set .type-projects-button.current {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
}

.card-set-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.project-card-thumb {
    padding: 20px 24px;
    background-color: var(--secondary-text-color);
    border: 1px solid #EEEEEE;
    border-top: none;
}
.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.card-set-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card-set-link-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set-link:hover &,
    .card-set-link:focus & {
        transform: translateY(0%);
        opacity: 1;
    }
}