.team-section {
  background-color: var(--secondary-bg-color);
}

.team-section__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.team-section__item{
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__thumb {
padding: 30px 32px;
background-color: var(--modal-bg-color);
}

.image-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.image-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-section .social-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}