.work-principles__list {
  display: block;
}

.work-principles__item:not(:last-child) {
  margin-bottom: 30px;
}

.work-principles__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .work-principles__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .work-principles__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .work-principles__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  
  .work-principles__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .work-principles__item {
    flex-basis: calc((100% - 120px) / 4);
  }

  .work-principles__icon {
    width: 270px;
  }
}