.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
}
  
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--modal-bg-color) ;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
  
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--modal-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
  
.contact-form-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-field-label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
  
.contact-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form-input:hover + &,
  .contact-form-input:focus + & {
    fill: var(--accent-color);
  }
}
  
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
  
.contact-form-field-message {
  display: block;
  margin-bottom: 20px;
}
  
.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
  
.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;

    .contact-form-checkbox:checked + & {
      background-image: url(../images/icon-checkbox.svg);
      border-radius: 2px;
      border: none;
    }
  } 
}
  
.checkbox-label-link {
  color: var(--accent-color);
}
  
.contact-form-submit-button {
  display: block;
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--modal-btn-accent-color);
  }
}
  
 